<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.1.21/tilt.jquery.min.js"></script>
  <script type="text/javascript">
  $('.js-tilt').tilt({
    glare: true,
    maxGlare: .5,
    axis: "x"
})
  </script>
  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->

  </body>

</html>
